@import 'reset';
@import 'font';
$pink: #f04e98;
$black: #000;
$green: #319b42;
$skyBlue: #77c5d5;
$lightGreen: #a9c47f;
$lightYellow: #abad23;
$orange: #f68d2e;
$default: #f3cfb3;
$tags: (life: $skyBlue, work: $green, outdoor:$lightYellow, party:$orange, other:$lightGreen);

body {
	//background: url(../../src/img/bg.jpg) no-repeat;
	background-color: #fefefe;
	font-family: "Helvetica Neue",sans-serif;
	background-size: cover;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
textarea {
	font-family: 'Josefin Sans', sans-serif;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
header {
	padding: 10px 5%;
	margin-bottom: 20px;
	background-color: $black;
	display: flex;
	justify-content: space-between;
	font-family: 'Indie Flower', cursive;
	.page-title {
		color: $pink;
	}
	@media screen and (max-width: 600px) {
		flex-direction: column;
		align-item: center;
		text-align: center;
		.page-title {
			margin-bottom: 10px;
		}
		.tags .tag {
			margin: 4px;
		}
	}
}

@each $tag, $color in $tags {
	.tag.#{$tag} {
		color: $color;
		&:hover {
			border-color: $color;
		}
		&.active {
			background-color: $color;
			color: #eee;
		}
	}
	.sticker-wrapper.#{$tag} .sticker {
		background-color: $color;
	}
	.tags-wrapper .tag.#{$tag} {
		border-bottom: 1px solid $color;
		&:hover {
			background-color: $color;
			color: white;
		}
	}
}

.main-content {
	margin: 0 auto;
	max-width: 1280px;
	@for $i from 2 through 7 {
 		@media screen and (min-width: $i * 180px) and (max-width: ($i + 1) * 180px - 1)  {
 			max-width: $i * 180px;
 		}
 	}

}

.sticker-wrapper {
	position: relative;
	margin: 14px 10px;
	overflow: hidden;
	float: left;
	&:hover .actions,
	&.active .actions{
		bottom: 3px;
	}
	@media screen and (max-width: 360px){
		float: none;
	}	
}

.sticker {
	cursor: pointer;
	padding: 20px;
	width: 120px;
	color: #222;
	line-height: 1;
	min-height: 100px;
	font-size: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	line-height: 20px;
	resize: none;
	border: none;
	@media screen and (max-width: 360px){
		width: calc(100% - 40px);
	}
}
.sticker--add {
	text-align: center;
	color: #444;
	background-color: $default;
	&:hover {
		box-shadow: 0 0 1px 2px $pink inset;
		background-color: #ffefd9;
	}
	.icon-add {
		font-size: 50px;
		line-height: 50px;
	}
	.desc {
		line-height: 1;
	}
}
.edit-tag {
	border: 1px solid #e8cece;
    border-radius: 3px;
    padding: 2px 6px;
    color: #fdeaea;
    font-size: 14px;
}
.actions {
	position: absolute;
	bottom: -40px;
	width: 90%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 6px 5%;
	transition: 0.4s all;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	.icon-bin,
	.sticker-tag
	 {
		color: #fdeaea;
		&:hover {
			color: #fff;
		}
	}
	.icon-pencil2 {
		font-size: 12px;
	}
}

.tags-wrapper {
	font-size: 14px;
	position: absolute;
	transform: translateX(-50%);
	background-color: black;
	width: 160px;
	height: 0;
	overflow: hidden;
	transition: height 0.3s;
	@media screen and (max-width: 450px) {
		width: 300px;
	}
	.choose-tag-desc {
		color: #333;
		padding: 5px;
		margin-top: 0;
	}
	.tag {
		padding: 7px;
	}	
}
header .tags .tag {
	display: inline-block;
	margin: 4px 8px;
	padding: 2px 8px;
	border: 1px solid #aaa;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.3s all;
	text-transform: lowercase;
	
}
.wisdom-words {
	font-weight: bold;
}
footer {
	position: fixed;
    width: 90%;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 10px 5%;
    background-color: $pink;
    img {
		margin-left: 6px;
		width: 24px;
    }
}
.copy-right {
	margin-top: 8px;
	display: flex;
	align-items: center;
	font-size: 12px;
	justify-content: center;
}

.export-json {
	padding-left: 10px;
	text-decoration: underline;
	color: #666;
	cursor: pointer;
}
