@import 'reset';
@import 'font';
$pink: #f04e98;
$black: #000;
$green: #319b42;
$skyBlue: #77c5d5;
$lightGreen: #a9c47f;
$lightYellow: #abad23;
$orange: #f68d2e;
$tags: (life: $skyBlue, work: $green, outdoor:$lightYellow, party:$orange, other:$lightGreen);

body {
	//background: url(../../src/img/bg.jpg) no-repeat;
	background-color: #fefefe;
	font-family: "Helvetica Neue",sans-serif;
	background-size: cover;
	color: white;
	margin: 0;
}
header {
	padding: 10px 5%;
	margin-bottom: 20px;
	background-color: $black;
	display: flex;
	justify-content: space-between;
	.page-title {
		color: $pink;
	}
}

.sticker-wrapper {
	position: relative;
	margin: 14px 10px;
	overflow: hidden;
	float: left;
	&:hover .actions{
		bottom: 3px;
	}
}

@each $tag, $color in $tags {
	.tag.#{$tag} {
		color: $color;
		&:hover {
			border-color: $color;
		}
		&.active {
			background-color: $color;
			color: #eee;
		}
	}
	.sticker-wrapper.#{$tag} .sticker {
		background-color: $color;
	}
}

.sticker {
	cursor: pointer;
	background-color: antiquewhite;
	padding: 20px;
	width: 118px;
	color: #222;
	line-height: 1;
	min-height: 98px;
	font-size: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	line-height: 20px;
	resize: none;
}
.sticker--add {
	text-align: center;
	color: #444;
	width: 120px;
	&:hover {
		box-shadow: 0 0 1px 2px #a21da2 inset;
		background-color: #ffefd9;
	}
	.icon-add {
		font-size: 50px;
		line-height: 50px;
	}
	.desc {
		line-height: 1;
	}
}
.edit-tag {
	border: 1px solid #e8cece;
    border-radius: 3px;
    padding: 2px 6px;
    color: #fdeaea;
}
.actions {
	position: absolute;
	bottom: -36px;
	width: 90%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 6px 5%;
	transition: 0.4s all;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	.icon-bin,
	.sticker-tag
	 {
		color: #fdeaea;
		&:hover {
			color: #fff;
		}
	}
	.icon-pencil2 {
		font-size: 12px;
	}
}

.tags-wrapper {
	margin: 0;
	min-width: 100px;
	list-style: none;
	padding: 0;
	display: inline-block;
	font-size: 14px;
	background-color: #fff;
	display: none;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0,0,0,0.6);
	}
	.tags {
		position: fixed;
		left: 50%;
		top: 30%;
		transform: translateX(-50%);
		min-height: 100px;
		padding: 20px;
		background-color: white;
		.choose-tag-desc {
			color: #333;
			padding: 5px;
			margin-top: 0;
		}		
	}
}
.tags .tag {
	display: inline-block;
	margin: 4px 8px;
	padding: 4px 8px;
	border: 1px solid #aaa;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.3s all;
	text-transform: lowercase;
	
}
