<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sticker Wall</title>
	<link rel="stylesheet" href="./dist/css/main.css">

</head>
<body>
	<header>
		<h1 class="page-title">Sticker Wall</h1>
		<nav class="tag-filter">
			<ul class="tags">
				<li class="tag life">Life</li>
				<li class="tag work">Work</li>
				<li class="tag party">Party</li>
				<li class="tag outdoor">Outdoor</li>
				<li class="tag other">Other</li>
			</ul>
		</nav>
	</header>
	
	<div class="sticker-wrapper">
		<div class="sticker sticker--add" id="new_sticker">
			<span class="icon-add">+</span>
			<p>Add Sticker</p>
		</div>
	</div>	
	<div class="stickers" id="sticker_list"></div>
	<div class="tags-wrapper">
		<ul class="tags">
			<p class="choose-tag-desc">Please choose a tag for your sticker</p>
			<li class="tag life">Life</li>
			<li class="tag work">Work</li>
			<li class="tag party">Party</li>
			<li class="tag outdoor">Outdoor</li>
			<li class="tag other">Other</li>
		</ul>		
	</div>

	<script id="stickers_template"  type="text/x-jQuery-tmpl">
		<% _.forEach(stickers, function(s) { %>
			<div class="sticker-wrapper <%- s.tag.toLowerCase() %>" data-id="<%- s.id %>">
			 	<textarea class="sticker"><%- s.title %></textarea>
				<div class="actions">
					<div class="edit-tag">
						<span><%- s.tag %></span>
						<span class="icon-pencil2"></span>
					</div>
					<span class="icon-bin delete"></span>
				</div>
			</div>
		<% }); %>
		 
    </script>
	<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	<script src="./dist/js/main.js"></script>
</body>

</html>