<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sticker Wall</title>
	<link rel="stylesheet" href="./dist/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Indie+Flower" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="sticker.ico" media="screen" />
	<!--[if IE]>
		<script type="text/javascript">
			alert("如想更好的网站浏览体验，请更换chrome或者其它先进浏览器!");	
		</script>
	<![endif]-->	
</head>
<body>
	<header>
		<h1 class="page-title">Sticker Wall</h1>
		<nav class="tag-filter">
			<ul class="tags">
				<li class="tag life">Life</li>
				<li class="tag work">Work</li>
				<li class="tag party">Party</li>
				<li class="tag outdoor">Outdoor</li>
				<li class="tag other">Other</li>
			</ul>
		</nav>
	</header>

	<main class="main-content clearfix">
		<div class="export-json" id="export_json">Export to json</div>
		<div class="sticker-wrapper">
			<div class="sticker sticker--add" id="new_sticker">
				<span class="icon-add">+</span>
				<p>Add Sticker</p>
			</div>
		</div>	
		<div class="stickers" id="sticker_list"></div>
		<ul class="tags-wrapper">
			<li class="tag life">Life</li>
			<li class="tag work">Work</li>
			<li class="tag party">Party</li>
			<li class="tag outdoor">Outdoor</li>
			<li class="tag other">Other</li>
		</ul>			
	</main>

	<footer>
		<div id="wisdom_words" class="wisdom-words"></div>
		<div class="copy-right">
			<span>ⒸXiaojingSi</span>
			<img src="http://www.reliablecounter.com/count.php?page=sarah-tw.github.io/vanila-sticker-wall/&digit=style/plain/15/&reloads=0" alt="" title="" border="0"></a><br /><a href="http://" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">
		</div>
	</footer>

	<script id="stickers_template"  type="text/x-jQuery-tmpl">
		<% _.forEach(stickers, function(s) { %>
			<div class="sticker-wrapper <%- s.tag.toLowerCase() %>" data-id="<%- s.id %>">
			 	<textarea class="sticker"><%- s.title %></textarea>
				<div class="actions">
					<div class="edit-tag">
						<span><%- s.tag %></span>
						<span class="icon-pencil2"></span>
					</div>
					<span class="icon-bin delete"></span>
				</div>
			</div>
		<% }); %>
		 
    </script>
	<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	<script src="./dist/js/main.js"></script>
</body>

</html>